<div class="auth-container">
  <app-environment-selector></app-environment-selector>
  <div class="auth-card">
    <div class="illustration-side">
      <div class="illustration">
        <img src="assets/logo.png" alt="Descripción de la imagen" style="width: 80%;">
      </div>
    </div>
    <div class="form-side">
      <h1>¡Bienvenido!</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">email</i>
          </div>
          <input 
            type="email" 
            formControlName="email" 
            placeholder="Tu correo electrónico"
            [ngClass]="{'invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
            autocomplete="email"
          >
        </div>
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">lock</i>
          </div>
          <input 
            type="password" 
            formControlName="password" 
            placeholder="Tu contraseña"
            [ngClass]="{'invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
            autocomplete="current-password"
          >
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="auth-actions">
          <button type="submit" class="sign-in-btn" [disabled]="loginForm.invalid || isLoading">
            <span *ngIf="!isLoading">Iniciar sesión</span>
            <span *ngIf="isLoading" class="spinner">
              <i class="material-icons rotating">autorenew</i>
            </span>
          </button>
          <a routerLink="/login/register" class="create-account-btn">Crear cuenta</a>
        </div>
      </form>
    </div>
  </div>
</div>
