<div class="auth-container">
  <app-environment-selector></app-environment-selector>
  <div class="auth-card">
    <div class="illustration-side">
      <div class="illustration">
        <img src="assets/logo.png" alt="Descripción de la imagen" style="width: 80%;">
      </div>
    </div>
    <div class="form-side">
      <h1>Crear cuenta</h1>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">person</i>
          </div>
          <input 
            type="text" 
            formControlName="name" 
            placeholder="Tu nombre"
            [ngClass]="{'invalid': registerForm.get('name')?.invalid && registerForm.get('name')?.touched}"
            autocomplete="name"
          >
        </div>
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">email</i>
          </div>
          <input 
            type="email" 
            formControlName="email" 
            placeholder="Tu correo electrónico"
            [ngClass]="{'invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"
            autocomplete="email"
          >
        </div>
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">lock</i>
          </div>
          <input 
            type="password" 
            formControlName="password" 
            placeholder="Tu contraseña"
            [ngClass]="{'invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
            (input)="checkPasswordStrength()"
            autocomplete="new-password"
          >
        </div>
        <div class="password-strength" *ngIf="registerForm.get('password')?.value">
          <div class="strength-text">Seguridad de la contraseña</div>
          <div class="strength-meter">
            <div class="strength-segment" [ngClass]="{'active': passwordStrength >= 1}"></div>
            <div class="strength-segment" [ngClass]="{'active': passwordStrength >= 2}"></div>
            <div class="strength-segment" [ngClass]="{'active': passwordStrength >= 3}"></div>
          </div>
        </div>
        <div class="form-field">
          <div class="input-icon">
            <i class="material-icons">assignment_ind</i>
          </div>
          <select formControlName="role" [ngClass]="{'invalid': registerForm.get('role')?.invalid && registerForm.get('role')?.touched}">
            <option value="" disabled selected>Selecciona un rol</option>
            <option value="admin">Admin</option>
            <option value="editor">Editor</option>
            <option value="seller">Seller</option>
          </select>
        </div>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div class="auth-actions">
          <button type="submit" class="create-account-btn" [disabled]="registerForm.invalid">Crear cuenta</button>
          <a routerLink="/login" class="sign-in-btn">Ya tengo una cuenta</a>
        </div>
      </form>
    </div>
  </div>
</div>
