@import '../../../styles.scss';

.header-toolbar {
  background-color: $soft-purple;
  color: $white;
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-md;
  box-shadow: $shadow-sm;
  height: 64px;
}

.header-left, .header-right, .header-center {
  display: flex;
  align-items: center;
}

.header-center {
  flex: 1;
  justify-content: center;
}

.environment-selector {
  width: 150px;
  margin: 0 $spacing-md;
  
  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    
    .mat-form-field-infix {
      padding: 0.5em 0;
    }
    
    .mat-select-value, .mat-select-arrow, .mat-form-field-label {
      color: $white;
    }
    
    .mat-form-field-underline {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

.user-menu-button {
  display: flex;
  align-items: center;
  color: $white;
  font-weight: $font-weight-medium;
  
  .username {
    margin-right: $spacing-xs;
  }
  
  mat-icon {
    font-size: $font-size-lg;
    height: $font-size-lg;
    width: $font-size-lg;
  }
}

/* Responsive styles */
@media (max-width: $breakpoint-md) {
  .header-toolbar {
    height: 56px;
    padding: 0 $spacing-sm;
  }
  
  .user-menu-button {
    .username {
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    
    }
  }
}

.mat-mdc-button:not(:disabled) {
    color: rgb(255 255 255 / 87%) !important;
}

@media (max-width: $breakpoint-sm) {
  .header-toolbar {
    height: 48px;
    padding: 0 $spacing-xs;
  }
  
  .user-menu-button {
    .username {
      max-width: 80px;
    }
  }
}
